html,
body {
  background-color: #ededed;
}

.top {
  position: relative;
  height: 60px;
  background-color: #e9132b;
}

.logo {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 85px;
  height: 48px;
  background-image: url("../image/logo.png");
  background-size: 100% 100%;
}

.top_r {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top_phone {
  font-size: 18px;
  color: #fff;
}

.top_text {
  opacity: 0.8;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}

#swiper {
  position: relative;
  width: 100%;
  height: 245px;
}

.swiper-slide .imgCon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .img1 {
  background-image: url("../image/banner.jpg");
}

.tabCon {
  background-color: #fff;
}

.tab {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px 0;
}

.tabImg {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  margin-bottom: 4px;
}

.tabImgB {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-image: url("../image/border_bottom.png");
  background-size: 100% 100%;
  display: none;
}

.wyyk {
  background-image: url("../image/wyyk.png");
}

.xlsp {
  background-image: url("../image/xlsp.png");
}

.hyal {
  background-image: url("../image/hyal.png");
}

.cgjs {
  background-image: url("../image/cgjs.png");
}

.tabText {
  font-size: 12px;
  color: #666666;
}

.tab.active {
  background-color: #d61423;
}

.tab.active .wyyk {
  background-image: url("../image/wyyk_h.png");
}

.tab.active .xlsp {
  background-image: url("../image/xlsp_h.png");
}

.tab.active .hyal {
  background-image: url("../image/hyal_h.png");
}

.tab.active .cgjs {
  background-image: url("../image/cgjs_h.png");
}

.tab.active .tabImgB {
  display: block;
}

.tab.active .tabText {
  color: #fff;
}

.blockCon {
  margin-top: 8px;
  padding-bottom: 20px;
  background-color: #fff;
}

.block_title {
  text-align: center;
  padding: 20px 0;
}

.block_title > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #d61423;
  margin: 0 10px;
}

.block_title > i {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 12px;
  background-size: 100% 100%;
}

.block_title_l {
  background-image: url("../image/block_title_l.png");
}

.block_title_r {
  background-image: url("../image/block_title_r.png");
}

/* 我要约课 */

.yuekeCon {
  padding: 0 20px 1px;
}

.yueke {
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 22px 20px;
}

.yueke1 {
  background-image: url("../image/y1.png");
}

.yueke2 {
  background-image: url("../image/y2.png");
}

.yueke3 {
  background-image: url("../image/y3.png");
}

.yuekeText {
  font-size: 18px;
  color: #ffffff;
}

.yuekeBtn {
  display: inline-block;
  font-size: 11px;
  color: #ffffff;
  border-radius: 1px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #e9142b;
}

/* 会员案例 */

.huiyuanCon {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 20px;
}

.huiyuan {
  display: inline-block;
  width: 260px;
  margin-right: 10px;
}

.huiyuan > img {
  width: 100%;
  border: 2px solid #d61423;
}

.huiyuan_title {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  font-weight: 700;
  margin: 6px 0 4px;
}

.huiyuan_tip {
  white-space: normal;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
}

/* 训练视频 */

.shipinCon {
  white-space: nowrap;
  padding-left: 20px;
  margin-bottom: 10px;
  width: 100%;
  overflow-x: auto;
}

.shipin {
  display: inline-block;
  margin-right: 10px;
}

.videoCon {
  position: relative;
  width: 222px;
  height: 150px;
  background-color: #ccc;
  overflow: hidden;
}
.videoImgCon{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.videoCon .play {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 32px;
  height: 32px;
  background-image: url("../image/play.png");
  background-size: 100% 100%;
  z-index: 2;
}

.videoTip {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}

/* end 训练视频 */
/* 训练环境 */

.huanjingCon {
  white-space: nowrap;
  padding-left: 20px;
  margin-bottom: 10px;
  width: 100%;
  overflow-x: auto;
}

.huanjing {
  width: 280px;
  display: inline-block;
  margin-right: 10px;
}

.huanjing_t {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

.huanjing_t > span {
  position: relative;
  display: inline-block;
  width: 90px;
  text-align: center;
  background-color: #fff;
  z-index: 2;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.huanjing_t > i {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  z-index: 1;
}

.huanjing_m {
  width: 280px;
  height: 160px;
  background-color: #ccc;
  margin-bottom: 10px;
  overflow: hidden;
}

.huanjing_b > div {
  float: left;
  width: 135px;
  height: 135px;
  background-color: #ccc;
  overflow: hidden;
}

.huanjing_b_l {
  margin-right: 10px;
}

/*end  训练环境 */
/* 精英教练 */
#swiper2 {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
.jingyingCon {
  position: relative;
  padding: 0px 20px 0 140px;
  /* height: 110px; */
  margin-bottom: 10px;
}
.jingyingCon_l {
  position: absolute;
  left: 20px;
  top: 0;
  width: 110px;
  height: 110px;
  background-color: #ccc;
  overflow: hidden;
}
.jingyingCon_t {
  font-size: 16px !important;
  color: #333333;
  line-height: 20px;
}
.jingyingCon_m {
  position: relative;
  height: 110px;
  overflow: hidden;  
  padding-right: 20px;
}
.jingyingCon_m > div {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
}
.jyHide{
  display: none;
}
.jingyingCon .more {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 12px;
  background-color: #fff;
}
.jingyingCon .more  {
  color: #d61423;
}
/* end 精英教练 */
/* 联系我们 */
.linkCon {
  background-color: #fff;
}
.linkRow{
    margin: 0 20px;
    border-bottom: 1px solid #d8d8d8;
}
.link_title {
  font-size: 18px;
  color: #333333;
}
.link_phone{
    margin: 10px 0;
    font-size: 12px;
}
.link_phone_r{
    float: right;
}
.linkRowCon{
    position: relative;
    padding-left: 32px;
    margin: 10px 0;
}
.linkRow_l{
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 22px;
    background-image: url('../image/addr.png');
    background-size: 100% 100%;
}
.linkRow_r_tip{
    font-size: 12px;
    padding-top: 4px;
}
.code{
    width: 90px;
    height: 90px;
}
.codeCon{
    position: relative;
    padding: 20px 0; 
}
.codeCon>div{
    position: absolute;
    left: 110px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 24px;
}
.copright{
    text-align: center;
    font-size: 10px;
    color: #999;
    padding: 20px 0;
}
.footerBtn{
    border-top: 1px solid #D61423;
    padding: 20px 0;
}
.footerBtn>a{
    float: left;
    width: 50%;
    text-align: center;
}
.footerBtn_l{
    border-right: 1px solid #d8d8d8;
}
.footerBtn_l>i{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    background-image: url('../image/duanxin.png');
    background-size: 100% 100%;
}
.footerBtn_r>i{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 16px;
    background-image: url('../image/phone.png');
    background-size: 100% 100%;
}
.footerBtn_l>span{
    display: inline-block;
    vertical-align: middle;
}
/* end 联系我们 */

.swiper-pagination-bullet{
  width: 30px;
  height: 4px;
  background-color: #ccc;
  opacity: 0.6;
  border-radius: 2px;
}
.swiper-pagination-bullet-active{
  background-color: #D61423;
}